service: doubt-catalog

frameworkVersion: ^3.22.0

package:
  individually: true
  excludeDevDependencies: false
  patterns:
    - '!**'
    - 'src/**'
    - 'infra/**'

provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage, 'dev'}
  region: sa-east-1

functions:
  - ${file(src/routes.yml)}